body{
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
	background-color:rgb(174,0,255);
}

h1 {
	font-size: 3.0em;
	text-align: center;
	color: yellow;
}

.h2 {
	font-size: 4.0em;
	text-align: center;
	color:rgb(0,255,0);
}

.img1 {
    float: center;
    margin: 0 20px 20px 20px;
	line-height:3.0;
}

.img2 {
    float: right;
    margin: 20px 20px 20px 20px;
}

.p1 {
	text-align: right;
	margin: 400px 20px 20px 20px;
	color: red;
}

.p2 {
	text-align: center;
	margin: 0px 20px 20px 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a {
    color: white;
    background-color: #4CAF50;
}

top,right,bottom,left

{
    
}